# Ambientes Virtuais
venv/
env/
.env

# Arquivos de Sistema e Cache do Python
__pycache__/
*.pyc
.pytest_cache/
.DS_Store

# Dados e Experimentos de MLOps
data/
mlruns/
*.parquet
*.csv

# Build do pacote
build/
dist/
*.egg-info/
